@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  height: 100%;


}


header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 131px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  
  }
  
  button {
    border: none;
  }
  
  
  
  .nav-bar {
    width: 67%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  
  
  .title {
    width: 588px;
    height: 64px;
    background: #6688FF;
    border-radius: 0px 14px 15px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 74px;
  
  }
  
  .title h3,
  p {
    margin-left: 20px;
  }
  
  
.actions {
    display: flex;
  
  }
  
  .actions>.save {
    margin-right: 74px;
    width: 180px;
    height: 40px;
    background: #2CBE82;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .save:hover {
    background: #239465;
    transition: .3s;
  }
  
  .actions>.delete {
    width: 180px;
    height: 40px;
    background: #DA2B40;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 88px;
    cursor: pointer;
  }
  
  .delete:hover {
    background: #bb2436;
    transition: .3s;
  }
  
  .date-time {
    width: 241px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  
  .time {
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 15px;
  
  }

  
.date {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
  
  .tools {
    height: 44px;
    width: 100%;
    display: flex;
  
  }
  
  .activity {
    background-color: white;
    height: 44px;
    width: 424px;
    border: 1px solid #2CBE82;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 89px;
  }
  
  
  
  .hours {
    width: 102px;
    height: 44px;
    background-color: white;
    border: 1px solid #2CBE82;
    border-radius: 10px;
    margin-left: 27px;
    padding: 15px;
    cursor: pointer;
  
  
  }
  
  
.add {
    background: #2CBE82;
    border-radius: 10px;
    width: 222px;
    height: 44px;
    margin-left: 27px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .add:hover {
    background: #239465;
    transition: .3s;
  }
  
  
  .add img {
    margin-right: 8px;
  }
  
  .dell {
    width: 184px;
    height: 44px;
    color: white;
  
    background: #DA2B40;
    border-radius: 10px;
    margin-left: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dell:hover {
    background: #bb2436;
    transition: .3s;
  }
  
  .dell img {
    margin-right: 8px;
  }